.item{
    min-height:480px;
    &.first{
        background: url(../images/slider1.jpg);
        background-size: cover;
        background-position: center;
    }

    &.second{
        background: url(../images/slider2.jpg);
        background-size: cover;
        background-position: center;
    }
    
    &.third{
        background: url(../images/slider3.jpg);
        background-size: cover;
        background-position: top;
    }
  }
      