.item{
    min-height:480px;
    &.first{
        background: url(../images/slider1.jpg);
        background-size: cover;
        background-position: center;
    }

    &.second{
        background: url(../images/slider2.jpg);
        background-size: cover;
        background-position: center;
    }
}

.carousel-custom{
      position:absolute;
      left: 10%;
      bottom: 20px;
      
      p{
      color: $color-white;
      font-family: 'PT Sans', sans-serif;
      font-size: 14px;
      text-shadow: 1px 1px 2px #000000, 0 0 15px #000000, 0 0 5px #000000;
      }
}