/* ---------------------
Generic var
---------------------- */

$default-images-directory: './images/';

/* ---------------------
Color Schemes
---------------------- */
$color-white: #fff;
$color-dark-bg: #262626;
$color-highlight: #009CBF;
$color-highlight2: #1CC3E8;
$color-light-grey: #E8E8E8;
$color-font-light: #fff;



/* ---------------------
Typography
---------------------- */
$font-Headers: 'Flamenco', cursive;
$font-Hero: 'La Belle Aurore', cursive;
$font-Par: 'Jura', sans-serif;
$font-Open: 'Open Sans Condensed', sans-serif;
