/* ---------------------
Generic var
---------------------- */

$default-images-directory: './images/';

/* ---------------------
Color Schemes
---------------------- */
$color-white: #fff;
$color-dark-bg: #453734;
$color-font-light: #fff;
$color-font-yellow: #E8AF05;
$color-font-redish: #E00025;


/* ---------------------
Typography
---------------------- */
$font-Headers: 'Flamenco', cursive;
$font-Hero: 'La Belle Aurore', cursive;
$font-Par: 'Jura', sans-serif;
$font-Open: 'Open Sans Condensed', sans-serif;
