 <div class="modal-header">
            <h3 class="modal-title">{{galleryModalCtrl.galleryToShow.title}}</h3>
        </div>
        <div class="modal-body">
            <section>
                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                  <uib-slide ng-repeat="slide in galleryModalCtrl.galleryToShow.image" index="slide.id">
                    <img ng-src="assets/images/{{slide.name}}" style="margin:auto;">
                    <div class="carousel-caption">
                    </div>
                  </uib-slide>
                </uib-carousel>
            </section>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" ng-href="{{galleryModalCtrl.galleryToShow.url}}" target="_blank">Find out More</a>
            <a class="btn btn-warning" type="button" ng-click="galleryModalCtrl.$uibModal.cancel()">Cancel</a>
        </div>