<nav class="navbar navbar-default custom-header">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
    	<div class="col-xs-12">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href ui-sref="home"><img width="50" src="assets/images/logoff.png"></a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href ui-sref="home">Home</a></li>
		        <li><a href ui-sref="discover">Discover</a></li>
		         <li><a href ui-sref="activities">Activities</a></li>
		        <li><a class="active" href ui-sref="area">Reach the area</a></li>
		        <li><a ui-sref="wedding">Wedding day</a></li>
		        <li><a href ui-sref="contact">Contacts</a></li>
		      </ul>
		    </div> 
		 </div>
 	</div>
  </div> 
</nav>
<section class="main area text-center">
	<div class="container">
		<div class="row topic">
			<div class="col-xs-12 col-sm-12">
				<h1>How to reach Lake Como?</h1>
			</div>
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<p class="intro">No worries, it's not that difficult! ;-)<br/>Below some suggestions ad information for your trip</p>
				<h4>Which is the closest airport?</h4>
				<p><strong>Book a flight</strong>: the closest airport destination is <span>Milan Malpensa</span>. <br/>See the useful links below to book a flight.</p>
				<h4>How to reach Lake Como?</h4>
				<p><strong>Suggestions</strong>: the best way to move around is by car (see useful links <a href ng-click="areaCtrl.scrollTo('useful-links')">below</a>).</p>
				<p>Unfortunately there are not direct public transport connections from <span>Milan Malpensa airport</span> to <span>Tremezzina</span> area. However if you are not in a rush, you can do the following once you landed at Malpensa Airport:</p>
				<p>
				- take a train from <span>Malpensa Airport</span> to <span>Milan Central Station</span><br/>
				- take a train from <span>Milan Central Station</span> to <span>Varenna</span><br/>
				- take a ferry from <span>Varenna</span> either to <span>Menaggio</span>, or <span>Lenno</span>, or <span>Tremezzo</span>, according to your stay.
				</p>
				<p>In the map below you'll find indications from Milan Malpensa Airport by car.</p>
				<p class="intro">If you do not wish to use the car systematically once you're in the area, you still can then rent a scooter or a bycicle to move around, <a href ng-click="areaCtrl.scrollTo('useful-links')">see below</a>.</p>
			</div>	
		 	<div class="col-xs-12 col-sm-8" id="directionMap">
		 		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9t3YUbu86rpFnw-LduchnslcmPGsWW1k&signed_in=true&callback=initDirectionMap"></script>
		 	</div>
		 	<div class="col-xs-12 col-sm-4" id="dvPanel">
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<h3 id="useful-links">Useful links</h3>
				<p class="first">Have a look below, you might find some useful services for your stay in Lake Como.</p>
			</div>
		</div>
		<div class="row topic">
			<div>
			<div class="col-xs-6 col-sm-3 col-md-2" >
				<a href="https://www.expedia.co.uk/" target="_blank"><img width="150" src="assets/images/expedia.jpg"></a>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-2">
				<a href="http://www.easyjet.com/" target="_blank"><img width="150" src="assets/images/easyjet.jpg"></a>
			</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-2">	
				<a href="https://www.airbnb.com/" target="_blank"><img width="150" src="assets/images/airbnb.jpg"></a>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-2">
				<a href="https://www.booking.com/" target="_blank"><img width="150" src="assets/images/booking.jpg"></a>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-2">
				<a href="https://www.tripadvisor.co.uk/Tourism-g187833-Lake_Como_Lombardy-Vacations.html" target="_blank"><img width="150" src="assets/images/tripadvisor.jpg"></a>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-2">
				<a href="http://www.europcar.com/" target="_blank"><img width="150" src="assets/images/europcar.jpg"></a>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-2">
				<a href="http://www.avisautonoleggio.it/#" target="_blank"><img width="150" src="assets/images/avis.jpg"></a>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-2">
				<a href="https://www.hertz.com/rentacar/reservation/" target="_blank"><img width="150" src="assets/images/hertz.jpg"></a>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-2">
				<a href="http://www.bicisport2000.com/en/contacts/" target="_blank"><img width="150" src="assets/images/bicisport.jpg"></a>
			</div>	
		</div>
	</div>
</section> 
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
				<p>©2016 Francesco Greppi &amp; Fatiha Kaizane. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>